<div class="row">
  <div class="col-xs-12">
    <div class="tab-panel-comments">
      {{#if content}}
        {{#each content as |comment|}}
          <div class="comment">
            <img class="img-circle" src="http://via.placeholder.com/64x64" />
            <div class="content">
              <p>
                <span class="user">{{user}}</span>
                <span class="school">({{school}})</span>
                <span class="date">{{date}}</span>
              </p>
              <p>{{copy}}</p>
              <a class="like" href="javascript:void(0);"><span class="glyphicon glyphicon-thumbs-up"></span>{{likes}}</a>
            </div>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
