<div class="row">
  <div class="col-sm-9 col-md-8">
    <div class="tab-panel-about">
      {{#each content.sections as |section|}}
        <h4>{{title}}</h4>
        <p>
          {{!-- add strong tags around objective --}}
          {{#isEqual type value="objective"}}<strong>{{/isEqual}}

          {{copy}}

          {{!-- close strong tags around objective --}}
          {{#isEqual type value="objective"}}</strong>{{/isEqual}}
        </p>
      {{/each}}
    </div>
  </div>
  <div class="col-sm-3 col-md-4">
    <div class="about-aside">
      <h4>{{content.aside.title}}</h4>
      <h5>{{content.aside.subtitle}}</h5>
      <p>{{content.aside.copy}}</p>
    </div>
  </div>
</div>
