<div class="row">
  <div class="col-xs-12">
    <div class="tab-panel-comments">
      {{#if content}}
        {{#each content as |comment|}}
          <div class="comment">
            <p><strong>{{user}}</strong></p>
            <p>{{school}}</p>
            <p>{{date}}</p>
            <p>{{copy}}</p>
            <p>Likes: {{likes}}</p>
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>
</div>
