<div class="tab-panel-about">
  <div class="row">
    <div class="col-sm-9 col-md-8">
      {{#each content.sections as |section|}}
        <div class="tab-panel-section">
          <h4><span class="glyphicon icon-{{type}}"></span>{{title}}</h4>
          <p>
            {{!-- add strong tags around objective --}}
            {{#isEqual type value="objective" }}<strong>{{/isEqual}}

            {{copy}}

            {{!-- close strong tags around objective --}}
            {{#isEqual type value="objective"}}</strong>{{/isEqual}}
          </p>
        </div>
      {{/each}}
    </div>
    <div class="col-sm-3 col-md-4">
      <div class="about-aside">
        <h4><span class="glyphicon glyphicon-bullhorn"></span>{{content.aside.title}}</h4>
        <h5>{{content.aside.subtitle}}</h5>
      </div>

      <p class="sub-text">{{content.aside.copy}}</p>
    </div>
  </div>
</div>
